{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block ocplatform_body %}
    <p>
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            <strong>Message flash :</strong> {{ message }}
        </div>
    {% endfor %}
    </p>
    <h2>Dernières annonces</h2>

    <ul>
        {% for advert in listAnnonces %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

{% endblock %}